Package: hsn2-rb-virustotal
Version: {VER}
Section: unknown
Priority: optional
Architecture: {ARCH}
Depends: hsn2-rb-nugget-commons, libcurl3, libjson0, libconfig9, libssl1.0.0, uuid
Maintainer: Wojciech Michalak (wojciech.michalak@nask.pl)
Description: Razorback Virus Total Nugget (virusTotal) as a HSN2 python service.
Distribution: {DEBIAN_DIST}
