Package: hsn2-rb-clamavnugget
Version: {VER}
Section: unknown
Priority: optional
Architecture: {ARCH}
Depends: hsn2-rb-nugget-commons, clamav-daemon, libconfig9, libssl1.0.0, uuid
Maintainer: Wojciech Michalak (wojciech.michalak@nask.pl)
Description: Razorback clamAV nugget (clamavNugget) as a HSN2 python service.
Distribution: {DEBIAN_DIST}
