Source: hsn2-rb-virustotal
Section: misc
Priority: optional
Maintainer: CERT Polska <info@cert.pl>
Build-Depends: debhelper (>= 8.0.0), python-all (>= 2.6.6-3), python-setuptools, uuid-dev, libconfig-dev, libssl-dev, libssl-dev, libcurl4-openssl-dev, libjson0-dev
Standards-Version: 3.9.3

Package: hsn2-rb-virustotal
Architecture: i386 amd64
Depends: ${misc:Depends}, ${shlibs:Depends}, python-hsn2-rb-nugget-commons
Description: Razorback Virus Total Nugget (virusTotal) as a HSN2 python service.
